.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 19px;
}

/* Navbar */
#nav-section {
    background-color: black;
}

.navbar {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1358px;
    height: 73px;
    padding-top: 22px;
    left: 41px;
    border-radius: 10px;
    margin: 0 auto;
}

.white {
    color: white;
}

.logo-brand {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.links {
    list-style-type: none;
    gap: 20px;
    font-size: 20px;
    transition: all 0.3s ease;
    display: flex;
    font-weight: 300;
}

.link-keys {
    text-decoration: none;
}

.get-started {
    color: black;
    text-decoration: none;
    width: 159px;
    height: 43px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(21, 229, 14);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}


/* main section */
.main-sec-container {
    width: 100vw;
    height: 1024px;
    border-radius: 0px 0px 0px 100px;
    background-color: black;
}

.main-content {
    margin: 0 auto;
    max-width: 1358px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container {
    display: flex;
    max-width: 15%;
    max-height: 15%;
}

.img-container img {
    max-width: 500px;
    max-height: 500px;
    width: fit-content;
}

.main-header {
    top: 273px;
    left: 41px;
    border: 1px;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    max-width: 700px;
    margin-bottom: 40px;
}

.first-underline {
    border-bottom: 0.5px solid white;
}

.second-underline {
    padding-bottom: 5px;
    border-bottom: 0.5px solid white;
}

.main-subheader {
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: 300;
}

.main-buttons {
    display: flex;
    gap: 40px;
}

.watch-demo {
    border: 2px solid white;
    color: white !important;
    text-decoration: none;
    width: 159px;
    height: 43px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
}

.watch-demo:hover {
    color: black;
    background-color: white;
}